.c-section{
    padding: 60px 0;
}

@media(min-width:$tablet-up){
    .c-section{
        padding: 60px 0;
    }
}

@media(min-width:$tablet){
    .c-section{
        padding: 60px 0;
    }
}

@media(min-width:$tablet){
    .c-section{
        padding: 80px 0;
    }
}