.slick-arrow {
    position: absolute;
}

.slick-slider {
    @include box-shadow;
    border-radius: 25px;
    cursor: grab;
    max-width: 621px;
    margin: 0 auto;
}

.slick-slide img {
    line-height: 0;
    max-width: 621px;
}

.slick-list {
    border-radius: 25px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        &.slick-active button:before {
            opacity: .75;
            color: black;
        }

        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;

            &:before {
                font-size: 50px;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: .25;
                color: black;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        }

    }

}
